@model HypeTracker.Models.HomeModel
@{
    ViewBag.Title = "Home Page";
}
<div class="container-fluid topRow">

    <div class="row">
        <div class="col-md-offset-1 col-md-3 topMedia">
            @if (Model.topMovie == null)
            {
                <h3>There are no movies added</h3>
            }
            else
            {
                <h3>Most Hyped Movie</h3>
                <div class="row">
                    <img src="@Model.topMovie.PosterUrl" alt="No Poster" class="poster" />
                    <div class="description">
                        <h4><u>Description</u></h4>
                        <p>@Html.DisplayFor(Model => Model.topMovie.Description)</p>
                    </div>

                </div>
                <ul class="title-info">
                    <li>Title: @Html.DisplayFor(Model => Model.topMovie.Title)</li>
                    <li>Release Date: @Html.DisplayFor(Model => Model.topMovie.ReleaseDate)</li>
                    <li>Franchise: @Html.DisplayFor(Model => Model.topMovie.Franchise)</li>
                </ul>
                <p>@Html.ActionLink("More details", "Details", "Movie", new { id = Model.topMovie.Id }, new { @class = "details btn-default" })</p>
            }
        </div>
        <div class=" col-md-3 topMedia centerMedia">
            @if (Model.topGame == null)
            {
                <h3>There are no games added</h3>
            }
            else
            {
                <h3>Most Hyped Game</h3>
                <div class="row">
                    <img src="@Model.topGame.PosterUrl" alt="No Poster" class="poster" />
                    <div class="description">
                        <h4><u>Description</u></h4>
                        <p>@Html.DisplayFor(Model => Model.topGame.Description)</p>
                    </div>

                </div>
                <ul class="title-info">
                    <li>Title: @Html.DisplayFor(Model => Model.topGame.Title)</li>
                    <li>Release Date: @Html.DisplayFor(Model => Model.topGame.ReleaseDate)</li>
                    <li>Dev Studio: @Html.DisplayFor(Model => Model.topGame.DevStudio)</li>
                </ul>
                <p>@Html.ActionLink("More details", "Details", "Game", new { id = Model.topGame.Id }, new { @class = "details btn-default" })</p>
            }
        </div>
        <div class="col-md-3 topMedia">
            @if (Model.topShow == null)
            {
                <h3>There are no shows added</h3>
            }
            else
            {
                <h3>Most Hyped Show</h3>
                <div class="row">
                    <img src="@Model.topShow.PosterUrl" alt="No Poster" class="poster" />
                    <div class="description">
                        <h4><u>Description</u></h4>
                        <p>@Html.DisplayFor(Model => Model.topShow.Description)</p>
                    </div>

                </div>
                <ul class="title-info">
                    <li>Title: @Html.DisplayFor(Model => Model.topShow.Title)</li>
                    <li>Next Release Date: @Html.DisplayFor(Model => Model.topShow.NextReleaseDate)</li>
                    <li>Franchise: @Html.DisplayFor(Model => Model.topShow.Franchise)</li>
                </ul>
                <p>@Html.ActionLink("More details", "Details", "Show", new { id = Model.topShow.Id }, new { @class = "details btn-default" })</p>
            }
        </div>
    </div>
</div>